/*custom_index*/
/* Separate Css for new site next try */

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.product_content p {
    margin: 30px 0 10px;
}

input#date {
    margin-top: 15px;
}

#gender {
    margin-right: 1px;
}
#goDown {
    margin-top: 0px;
}

article.meat_fish {
    background: #e7e7e7;
}

.meat_fish ul.nav.navbar-nav {
    display: inline-block;
}


.custom_active {
    background: #d6d7d8;
    color:#000;
}

.meat_fish .navbar {
    width: 750px;
}

.meat_fish .container {
    padding: 0px;
}

img.product_image {
    width: 150px;
    height: 110px !important;
    display: inline-block;
}
.xyz .product_content, .eight_week .product_content, .twleve_meal .product_content  {
    padding: 82px 72px !important;
}
.xyz .product_content , .eight_week .product_content, .twleve_meal .product_content  {
    display: inline-block;
    position: absolute;
    left: 3%;
    top: 0%;
    border-radius: 50%;
    width: 245px;
    height: 170px;
}
section.xyz ,section.twleve_meal, section.eight_week{
    padding: 13px 60px;
    background: white;
    margin-bottom: -30px;
}
.content_wrap {
    position: relative;
    background: white;
    margin-bottom: 15px;
    cursor: pointer;
overflow: hidden;
}

.product_content h5 {  
    margin: 0px;
}
.chicken h2{
    font-weight: 500;
    margin-top: 75px;
}
nav.navbar.navbar-default.navbar-fixed-chicken {
    position: fixed;
    z-index: 99;
}

.meat_fish > .chicken ~ .chicken {
    margin-top: 50px;
}

article#popupModal, article#popupModalVegan {
    display: none;
    position: fixed;
    z-index: 200;
    padding-top: 100px;
    left: 0%;
    top: 0%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
padding-bottom:50px;
}

#popupModal p {
    padding: 22px 6px 0 0;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

section.modelcontent_wrap {
    position: relative;
    background: white;
    padding: 20px 60px;
    margin: 0px 150px;
}
h5.title_vegCarb {
    font-weight: 700;
    font-size: 30px;
}
h5.title_vegCarb span {
    float: right;
    font-size: 35px;
    cursor: pointer;
}
ul.veg_varb_list {
    list-style: none;
    padding: 0px;
}
ul.veg_varb_list li p {
    display: inline;
    line-height: 0px;
    font-weight: bold;
    position: absolute;
    top: 24px;
    left: 63px;
    font-size: 18px;
}
ul.veg_varb_list li input {
    display: inline;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 17px;
    top: 10px;
}
ul.veg_varb_list li {
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    position: relative;
    height: 50px;
    letter-spacing: 1px;
    border-radius: 9px;
}
ul.veg_varb_list li p span {
    padding-left: 8px;
    font-size: 16px;
    color: darkgrey;
    font-weight: 300;
}
.footer_modal a, .footer_modal button {
    font-size: 18px;
    font-weight: bold;
    border-radius: 0px;
    background: white;
    color: black;
    border-color: #febe14;
    border-radius: 5px;
}
a.btn.btn-primary.close_popup {
    padding: 12px 60px;
}
button.btn.btn-primary.add_to_basket_button , .add_to_basket_button1{
    float: right;
    padding: 12px 60px;
    margin: 0;
}
input#count_quantity, #count_quantity1, input.count_edit {
    border: none;
    width: 15%;
}
.counter_inc {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}

/* Alternate Style */
ul.veg_varb_list2 img {
    width: 110px;
    height: 70px !important;
}

ul.veg_varb_list2 li {
    border: 1px solid #a5a4a4bf;
    margin-bottom: 20px;
    height: 92px;
    font-size: 20px !important;
}

ul.veg_varb_list2 li label {
    padding: 23px !important;
}

ul.veg_varb_list2 {
    list-style: none;
    padding: 0px;
}
ul.veg_varb_list2 li p {
    display: inline;
    padding-left: 20px;
    font-size: 20px;
}
ul.veg_varb_list2 li img {
    display: inline;
}
ul.veg_varb_list2 li input {
    float: right;
    margin: 28px 32px 0px 0px;
    width: 35px;
    height: 35px;
}
ul.veg_varb_list2 img {
    width: 100px;
    height: 70px;
    margin: 11px 20px;
}

/* Ends */
.fa.fa-minus, .fa.fa-plus {
    border: 1px solid gray;
    padding: 3px;
    border-radius: 35px;
}
input#count_quantity, #count_quantity1 {
    font-size: 35px;
    text-align: center;
}
.counter_inc span {
    position: relative;
}

article.checkout-part td.product-remove {
    font-size: 30px;
}
article.checkout-part th.product-thumbnail {
    display: none;
}
article.checkout-part td.product-thumbnail {
    /* height: auto; */
    /* width: 61px; */
    display: none;
}
article.checkout-part td.product-quantity input {
    width: 70px;
}
article.checkout-part button.button {
    float: right;
    margin-right: 5px;
}
article.checkout-part a.checkout-button.button.alt.wc-forward {
    background: #95c837;
    color: white;
    padding: 12px 23px;
    margin-top: -35px;
    margin-left: 135px;
    border-radius: 4px;
}
article.checkout-part .wc-proceed-to-checkout {
    margin-bottom: 20px;
}
article.checkout-part .title h5 {
    padding: 13px 0px;
    margin-left: 135px;
    font-weight: bold;
}
article.checkout-part .title {
    background: #95c837;
    color: white;
    /* padding: 1px 50px; */
}
.wrap_cart {
    padding: 0px 25px;
    position: fixed;
    left: 62%;
    top: 8%;
    background: white;
    width: 20.3%;
    overflow-y: scroll;
    height:700px;
}
.body_modal2 li input {
    text-align: center;
    background: #e7eef4;
    color: black;
    font-weight: bold;
}
ul.veg_varb_list2 span.fa-plus {
    float: right;
    margin: 32px 0px 10px;
}
ul.veg_varb_list2 li span.fa-minus {
    float: right;
    margin: 32px 19px 0px -32px;
}
/*edited*/
.content_wrap_day{
    margin-bottom: 60px;
    background-color: black;
}
.content_wrap_day .product_content {
    margin-left: 61px;
}
.content_wrap_day h5 {
    font-size: 22px;
    position: absolute;
    top: 69px;
    left: 140px;
    color: #febe14 !important;
}
.linktotwomeal, .content_wrap_day {
    width: 240px;
    height: 170px;
margin:auto auto 40px auto;
    border-radius: 50%;
}
.twomealdesc, .xyz .product_content, .eight_week .product_content, .twleve_meal .product_content {
    background-color: #e0d8d8;
    opacity: 0;
    padding: 40px 20px;
    color: white;
    text-align: center;
}
.twomealdesc:hover , .xyz .product_content:hover, .eight_week .product_content:hover, .twleve_meal .product_content:hover{
    opacity: 0.7;
    transition: .5s all;
}
a.next-class {
    text-decoration: none;
}
.chicken .product_content {
    position: absolute;
    top: 16% ;
    left: 24%;
}
section.xyz h3, .twleve_meal h3, .eight_week h3 {
    padding: 15px 0px;
    text-align: center;
    background: #484848;
    color: white;
    font-weight: 600;
    margin-bottom: 30px !important;
    border-radius: 15px;
}
a.button.btn-info.paid_vegcarb {
    font-weight: bold;
}

a.button.btn-info.paid_vegcarb:hover {
    background: #353535;
    color: white;
}

ul.veg_varb_list2 li input:checked:after {
    position: absolute;
    color: black;
    height: 35px;
    width: 34px;
    border: 1px solid #008000;
    margin-left: -18px;
    border-radius: 3px;
    content: '';
    background: green;
}
section#extravegcarb .product_content {
    position: absolute;
    top: 26%;
    left: 24%;
}

ul.veg_varb_list2 li .showingMatch {
    content: '';
    position: absolute;
    border: 1px solid green;
    width: 34px;
    height: 34px;
    background: green;
    margin-top: -64px;
    left: 81.4%;
    border-radius: 2px;
    display: none;
}

section.basket_table {
    background: white;
    width: 31%;
    position: fixed;
    left: 66%;
    top: 37%;
}
section.basket_table .heading h3 {
    color: white;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3px;
}
section.basket_table .heading {
    background: #febe14;
    padding: 1px 21px;
    text-align: center;
}
#table_product {
    width: 100%;
}
#table_product th {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 14px;
}

.terms-condition a {
    color: grey;
}

#table_product td {
    padding: 6px 10px 6px 20px !important;
}

#table_product .counter_inc {
    margin: 10px 0px;
}

#table_product .count_edit {
        font-size: 24px;
        width: 50px;
        text-align: center;
}
.btn-submit:hover, .btn-cancel:hover {
    text-decoration: none;
    background: white;
    color: #398e19;
}
.btn-submit, .btn-cancel {
 border-radius: 6px;
    background: #febe14;
    color: black;
    padding: 7px 25px;
    float: right;
    margin-bottom: 15px;
    margin-right: 20px;
}
.btn-cancel{
    float:left !important;
    margin-left:20px;
}
.counter_inc label {
    font-size: 25px;
    padding-right: 30px;
}


/* stylesheet for homepage
 * Edited by suman mali
 * dated on 31st july
 * ***********************/
ul.menu_list li {
    display: inline;
    padding-right: 25px;
    font-size:18px;
}
header.nav.nav-bar.top-head {
    background: black;
}
ul.menu_list {
    list-style: none;
    display: inline-block;
}
.logo-img img {
    width: 60% !important;
    height: 110px !important;
}

@media only screen and (max-width: 1024px) {
    .linktotwomeal, .content_wrap_day {
        width: 82%;
    }

    section.xyz, section.twleve_meal, section.eight_week {
        padding: 13px 23px
    }

    .xyz .product_content, .eight_week .product_content, .twleve_meal .product_content {
        padding: 82px 65px !important;
        left: -7%;
    }

    .meat_fish .navbar {
        width: 630px;
    }
.content_wrap_day h5{
left: 106px;
}
}

@media only screen and (max-width: 768px) {
    .xyz .product_content, .eight_week .product_content, .twleve_meal .product_content {
        padding: 83px 53px !important;
        left: -19.7%;
        width: 91%;
    }

    .product_content p {
        margin: 30px 0;
    position: relative;
    top: 0px;
    left: 0px;
    color: #636335;
    }

    .linktotwomeal, .content_wrap_day {
        width: 103%;
    }

    .content_wrap_day h5 {
        left: 70px;
    }

    .meat_fish .navbar {
        width: 469px;
    }

    .btn-submit, .btn-cancel {
        margin: 0 10px;
        padding: 7px 10px;
    }

    .chicken h2{
        font-size: 25px;
    }

    .product_content h5, .product_content em {
        margin-left: 80px;
    }

    a.btn.btn-primary.close_popup {
        padding: 12px 30px;
    }

    button.btn.btn-primary.add_to_basket_button, .add_to_basket_button1 {
        padding: 12px 10px;
    }

    .counter_inc label, h5.title_vegCarb {
        font-size: 18px;
    }

    input#count_quantity, #count_quantity1 {
        font-size: 30px;
    }

    .fa.fa-minus, .fa.fa-plus {
        padding: 0px;
    }

    #table_product .count_edit {
       font-size: 20px;
        width: 36px;
    }
input#modal_item {
    font-size: 25px !important;
}
#popupModal ul.veg_varb_list2 li input {
        margin: 10px 17px 0px 0px;
        width: 20px;
    }
#popupModal ul.veg_varb_list2 li {
    height: 60px !important;
}
#popupModal ul.veg_varb_list2 li label {
    padding: 14px !important;
}

}

@media only screen and (max-width: 425px) {
    ul.nav.navbar-nav {
        margin-left: 90px;
    }

    .linktotwomeal, .content_wrap_day {
        width: 77%;
        margin-left: 40px;
    }

    #table_product .count_edit {
        background-color: #9a9393;
    }

    .fa.fa-minus, .fa.fa-plus {
        padding: 4px;
    }

    .meat_fish .navbar {
        width: 430px;
        padding-right: 16px;
    }

    .chicken h2{
        margin-top: 75px;
        margin-left: 20px;
    }

     section.basket_table {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #9a9393;
        z-index: 999999;
    }

    .top_410 {
        top: 90% !important;
    }

    .top_144 {
        top: 144px !important;
    }

    section.basket_table h3.text-center {
        background: #febe14;
        padding: 10px;
        margin: 0;
    }

    .content_wrap_day h5 {
        left: 130px;
    }

    .xyz .product_content, .eight_week .product_content, .twleve_meal .product_content {
        padding: 83px 96px !important;
        width: 72%;
        left: -2%;           
    }
article#popupModal label {
    margin-left: 10px;
    text-align: left;
    padding: 0px !important;
    width: 70% !important;
}
table#table_product .counter_inc, table#table_product .counter_inc input,table#table_product th {
    width: 50% !important;
}
table#table_product .counter_inc {
    display: inline !important;
}
}

@media only screen and (max-width: 375px) {
    .meat_fish .navbar {
        width: 376px;
    }

    .linktotwomeal, .content_wrap_day {
        width: 82%;
        margin-left: 32px;
    }

    section.xyz h3, .twleve_meal h3, .eight_week h3 {
        font-size: 20px;
    }

    .content_wrap_day h5 {
        left: 112px;
    }

    .xyz .product_content, .eight_week .product_content, .twleve_meal .product_content {
        padding: 83px 94px !important;
        left: -4.5%;
        width: 75%;
    }
.chicken .product_content {
    left: 28%;
}
button#add_to_basket_button {
    padding: 6px 10px !important;
}

ul.veg_varb_list2 li label {
    padding: 23px 18px!important;
}
input#modal_item {
    text-align: left !important;
    font-size: 21px !important;
}
}


@media only screen and (max-width: 320px) {
    .meat_fish .navbar {
        width: 320px;
    }

    .linktotwomeal, .content_wrap_day {
        width: 99%;
        margin-left: 5px;
    }

    section.xyz h3, .twleve_meal h3, .eight_week h3 {
            font-size: 18px;
        }

    .xyz .product_content, .eight_week .product_content, .twleve_meal .product_content {
        padding: 82px 45px !important;
        left: -15%;
        width: 89%;
    }

    .content_wrap_day h5 {
        left: 80px !important;
    }
.chicken .product_content {
    left: 32%;
}
ul.veg_varb_list2 li label {
    padding: 15px 9px !important;
}
input#modal_item {
    text-align: left !important;
}
section.modelcontent_wrap {
    padding: 20px 20px !important;
}
input#modal_item {
    font-size: 17px !important;
    width: 100% !important;
}

}



