@media only screen and (min-width: 320px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .col-md-2.col-sm-3.deliver {
        width: 25% !important;
    }
    .col-md-2.col-sm-3.pick-goal {
        width: 25% !important;
    }
}

@media only screen and (max-width:1024px) and (min-width:768px) {
    #ck-button input:checked+span h4 {
        margin: 16px 144px 0px 12px;
    }
    #ck-button input:checked+span img {
        margin: -40px 163px 0px 12px;
    }
    .fixed a img {
        float: left;
    }
    .row.giveborder .col-sm-6 {
        width: 40%;
    }
    .panel-body.guestcheckoutbox .panel-body .row .col-sm-6 {
        width: 40%;
    }
    .panel-heading h5 {
        font-size: 15px;
    }
    .panel-body.guestcheckoutbox .panel-body strong {
        font-size: 11px;
    }
    .panel-body .col-sm-6 {
        width: 40%;
    }
    .col-sm-12.couponDiv .col-sm-6 {
        margin-top: 10px;
        width: 100%;
    }
}

@media only screen and (max-width:1024px) {
    .fit-and-sup .fit_part {
        padding-top: 40px;
    }
    .fit_part.first {
        margin-bottom: -40px;
    }
    #ck-button input:checked+span img {
        width: 113px;
    }
    td.text-center.shoppingprice {
        padding-left: 102px !important;
    }
    .dropdown-menu {
        margin: 10px 0 0 !important;
        font-size: 23px !important;
    }
    .content-part-hover {
        height: 540px;
    }
    .fixed img#logo {
    margin-left: 21px;
}

}

@media only screen and (max-width:915px) {
    a.envolepmail {
        font-size: 11px;
    }
    .fixed a img {}
}

@media only screen and (max-width:768px) {
    .leave-review {
        line-height: 49px !important;
        height: 66px;
    }
    .fit_part .row.center .col-sm-3 {
        width: 50%;
    }
    ul.nav.navbar-nav a {
        font-size: 14px;
        margin-top:-11px;
        }
   .fixed ul.nav.navbar-nav a {
        font-size: 14px;
        margin-top: 0px ;
        }
    .col-sm-2.header-login {
        margin-left: 0px;
    }
    .alertmesssgepopup {
        margin-top: -10px;
    }
    .form-input.address {
        max-width: 100% !important;
    }
    .col-sm-12.couponDiv .row .col-sm-12 {
        padding: 10px 0px;
    }
    .alert.alert-danger {
        font-size: 12px;
    }
    .col-sm-12.couponDiv .col-sm-3 {
        width: 50%;
    }
    button#btnContactUs {
        margin-bottom: 30px !important;
    }
    .control-label.product-title-checkout {
    margin-top: 35px;
    margin-bottom: 35px;
}
}

@media only screen and (max-width: 425px) {
    .textWrapper.text-right.slideanim.slide {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .text-left.googleReviews.starsImage.slideanim.slide {
        text-align: center;
        margin-bottom: 20px;
    }
    .control-label.product-title-checkout {
       margin-bottom: 5px;
       margin-top:20px;

     }
    .billing-details {
       margin-top: 100px;
   }
    .googleReviews {
        padding: 0px 0px 0px !important;
    }
    .googleReviews img {
        width: 205px !important;
        padding: 2px 39px !important;
    }
    .blog-part {
        padding: 0px;
    }
    .textWrapper a {
        margin-top: 0px;
    }
    .fit_part .row.center .col-sm-3 {
        width: 100%;
    }
    .col-sm-4.product-vegan-radio {
        border: 1px solid #febe14;
        margin: 10px 0px;
    }

    .content-part-hover {
        height: 540px;
    }

    .col-sm-7.developer p {
        text-align: center !important;
    }

    .img-f:hover {
        transform: scale(1.1);
        transition: .3s all ease-in;
    }

    td.text-center.shoppingprice {
        padding-left: 160px !important;
    }

    .alertmesssgepopup {
        margin-top: 2px;
    }

    .alert {
    padding: 20px 21px 36px !important;
    }

    .alert.alert-danger {
        font-size: 13px;
    }
    .col-sm-12.couponDiv .col-sm-3 {
        width: 100%;
        margin-top: 20px;
    }
    .extrasnacks-checkout-box .col-xs-5 {
        width: 40%;
    }
    .panel-default>.panel-heading {
        width: 100%;
    }
    .fit-and-sup .fit_part {
        padding-top: 110px;
    }
    section.blog-part {
        padding: 60px 0px 60px 30px;
    }
    a.btn.read-more {
        float: none;
    }
    .naati-login {
        margin-top: 100px;
    }
    .about-us {
        padding: 15px !important;
    }
    .logo-mob img {
    margin-top: -5px;
    width:56px !important;
   }
   .product-name {
        margin-left: 0px;
   }
   a.continueshopping.btn.btn-danger {
    margin-top: -33px;
   }
   .fitreat-img {
    margin-top: 96px;
    border-radius: 0px;
    }
    .fitreat-content-box {
     margin: 6px 0px 29px;
     }
  }

@media only screen and (max-width: 376px) {
    .col-sm-2.col-xs-3.clean {
        width: 20%;
    }
    .menuuploaddesc {
        display: none;
    }
    .img-f a.text_part {
        font-size: 19px !important;
    }
    .alert {
    padding: 20px 21px 53px !important;
     }
     .panel-heading h5 {
    font-size: 16px;
     }
    td.text-center.shoppingprice {
    padding-left: 124px !important;
    }
   .alertmesssgepopup {
      margin-right: 68px;
    }
}

@media only screen and (max-width:320px) {
    .menuCheckButton {
        padding: 5px 20px 0!important;
    }
    .testinomial-header h4 {
        font-size: 17px;
    }
   td.text-center.shoppingprice {
    padding-left: 60px !important;
}
  .panel-heading h5 {
    font-size: 13px;
}
.col-sm-3.price-vegan.col-xs-3.text-center .product-name {
    font-size: 14px !important;
    margin-left: -27px;
}
div#faqNav .placing_orders {
    padding: 20px 25px !important;
}
.alertmesssgepopup {
    margin-right: 13px;
}
 .alert {
    padding: 20px 21px 40px !important;
     }
}